// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// @font-face { 
// 	font-family: 'msjh-arial'; 
// 	src:  local("Lantinghei")
// 		, local('Noto Sans TC')
// 		, local('微軟正黑體')
// 		, local("STHeiti")
// 		, local("メイリオ")
// 		, local("Meiryo")
// 		, local("ヒラギノ角ゴ Pro w3")
// 		, local("Hiragino Kaku Gothic Pro")
// 		, local("Osaka")
// 		, local("STXihei")
// 		, local("HEITI TC")
// 		, local("黑體-繁")
// 		, local("黑體");
// }
// @font-face {
// 	font-family: 'msjh-arial';
// 	src: local('Arial')
// 		, local("Segoe UI")
// 		, local("Verdana")
// 		, local("ＭＳ Ｐゴシック")
// 		, local("MS P Gothic")
// 		, local("Helvetica Neue")
// 		, local("Helvetica")
// 		, local("sans-serif");
// 	font-weight: normal;
// 	font-style: normal;
// 	unicode-range: U+00-024F;
// }

$main-font: 'Roboto';
$base-font-size-num: 13;
$base-font-size: #{$base-font-size-num}px;
$base-font-size-sm: 10px;

.font-default{
	font-family: $main-font, cursive;
}
.fontsize-reset {
	font-size: $base-font-size;
}

$browser-xs-viewport: 640; // Default
$browser-sm-viewport: 768; // Default
$browser-lg-viewport: 1366; // Default

@function vwsm($pixels, $context: $browser-sm-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function vwxs($pixels, $context: $browser-xs-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function vwlg($pixels, $context: $browser-lg-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function xsp($pixels, $context: $browser-xs-viewport){
  @return percentage($pixels/$context);
}

@mixin xsSubItem() {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;	
}
@mixin xsItem($width, $height, $top, $bottom, $left, $right, $context: $browser-xs-viewport) {
	margin: 0;
	width: xsp($width, $context);
	height: 0;
	position: absolute;
	padding-top: xsp($height, $context);

	@if($left != 0) {
		margin-left: xsp($left, $context);
		left: 0;
		right: 0;
		margin-right: xsp($right, $context);
		z-index: 2;
	}@else{
		right: 0;
		left: auto;
		margin-right: xsp($right, $context);
		z-index: 1;
	}
	@if($top != 0) {
		top: 0;
		bottom: 0;
		margin-top: xsp($top, $context);
		margin-bottom: xsp($bottom, $context);
	}@else{
		bottom: 0;
		top: auto;
		margin-bottom: xsp($bottom, $context);
	}
}

@mixin linear-gradient($direction, $color-stops) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@for $i from 6 to 150 {
	.fontsize-p-#{$i} {
		font-size: percentage($i/$base-font-size-num);
	}
}

@for $i from 6 to 150 {
	.fontsize-#{$i} {
		font-size: #{$i}px;
	}
	.fontsizev-#{$i} {
		font-size: #{$i}px;
		font-size: #{$i/19.2}vw;
	}
}

@media screen and (max-width: 768px) {
	@for $i from 6 to 150 {
		.fontsize-sm-#{$i} {
			font-size: #{$i}px;
			font-size: vwsm($i);
		}
		.fontsize-xs-#{$i} {
			font-size: percentage($i/2/$base-font-size-num);
			font-size: vwxs($i);
		}
	}
}

.text-bold{
	font-weight: 700;
}

.text-light{
	font-weight: 100;
}

.text-normal{
	font-weight: normal;
}
@media screen and (max-width: 768px) {
	.text-bold-xs{
		font-weight: 700;
	}

	.text-light-xs{
		font-weight: 100;
	}

	.text-normal-xs{
		font-weight: normal;
	}
}


$font-default-color: #000;
$font-default-hover-color: #333;
$font-white-color: #fff;