nav.about{
	z-index:10;
	position: fixed;
	right: 65px;
	top: 45px;
	a{
		color: #fff;
		letter-spacing: 0.15em;

		&:hover{
			color: #C30D23;
		}
		img{
			margin-right: 10px;
		}
		&.avatar{
			img{
				width: 17px;
				height:20px;
			}
		}
		&.worldwide{
			img{
				width: 17px;
				height:17px;
			}
		}
		&+a{
			margin-left: 35px;
		}
	}
	@media screen and (max-width: 768px) {
		background: #1b1b1b;
		position: relative;
		padding-bottom: xsp(40);
		top:0;
		left:0;
		a{
			padding-left: xsp(60);
			@include xsSubItem();
			display: block;
			position:relative;
			height: 1.8em;
			vertical-align: bottom;

			&+a{
				margin:0;
			}
		}
	}
}


.inner-page{
	nav.about{
		display: none;
		@media screen and (max-width: 768px) {
			display: inherit;
		}
	}
}