
#content {
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: calc(100% - 360px);
	height: 100%;
	background: #fff;
	color: #1b1b1b;
	transition: 0.45s width linear 0s, opacity 0.6s linear 0s;
	.inner{
		height: 100%;
		overflow:auto;
		-webkit-overflow-scrolling: touch;

		a.top{
			position: fixed;
			right: 5%;
			bottom: 10%;
			z-index: 2;
			@media (min-width: 768px) and (max-width: 1024px) {
				right: 2%;
				bottom: 2%;
			}
			@media screen and (max-width: 768px) {
				right: 2%;
				bottom: 10%;
			}
			&.fade{
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: opacity 0.2s linear 0s, height 0s linear 0.2s;
				&.in{
					height: auto;
					opacity: 1;
					transition: opacity 0.2s linear 0s, height 0s linear 0s;
				}
			}
		}
		.back{
			position: absolute;
			top: 0;
			margin-top: 10%;
			// left: 17%;
			padding-left: 1.25em;
			background: url(../img/common/back.svg) no-repeat left 0.28em;
			background-size: 0.5em 1em;
			@media screen and (max-width: 768px) {
				left: 15%;
				min-height: 15px;
				top: 0;
				margin-top: 5%;
				background-size: 0.5em 1em;
				background-position: left center;
				span{
					line-height: 1em;
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		width: 100%;
		padding-top: xsp(88);
		padding-bottom: xsp(75);


	}
	&.in{
		transition: 0.45s width linear 0s, opacity 0.6s linear 0s;
	}
}

.page-expand #content{
	width: 100%;
	transition: 0.3s width linear 0s, opacity 0.6s linear 0s;
	&.in{
		transition: 0.3s width linear 0s, opacity 0.6s linear 0s;
	}
}

