
/* Custom page header */
#content {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: calc(100% - 360px);
	height: 100%;
	background: #fff;
	color: #1b1b1b;
	transition-duration: 0.25s;
	.inner{
		height: 100%;
		overflow:auto;
		.catalog{
			width: 100%;
			padding: 0 10%;
			margin-left: auto;
			margin-right: auto;
			.row >aside{
			}

			figure{
				@include xsItem(640,640,0,0,0,0);
				position: relative;
				img{
					@include xsSubItem();
					max-width: 100%;
					max-height: 100%;
					transform: scale(0.8);
					transition-duration: 0.25s;
				}
				figcaption{
					color: #535353;
					position: absolute;
					bottom: 0;
					margin-bottom: xsp(30);
					left:0;
					width: 100%;
					line-height: 2em;
					&:before{
						content: '';
						height: 2px;
						width: 222px;
						position: absolute;
						bottom: 0;
						left: calc((100% - 222px) / 2);
						background: #595656;
					}
					&:after{
						content: '';
						height: 2px;
						width: 0;
						position: absolute;
						bottom: 0;
						left: 50%;
						background: #c30d23;
						transition-duration: 0.25s;
					}
				}
				&:hover{
					figcaption:after{
						content: '';
						height: 2px;
						width: 118px;
						position: absolute;
						bottom: 0;
						left: calc((100% - 118px) / 2);
						background: #c30d23;
					}
					img{
						transform: scale(1) translate(-2%,-2%);
						transition-duration: 20s;
					}
				}
				@media screen and (max-width: 768px) {
					height: 55%;
					figcaption{
						margin-bottom: xsp(-30);
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		width: 100%;
		padding-top: xsp(88);
		padding-bottom: xsp(75);


	}
}

.page-expand #content{
	width: 100%;
}