header {
	height: 100%;
	width: 288px;
	position: fixed;
	left:0;
	top:0;
	margin:0;

	h1{
		padding-left:22px;
		margin-top: 35px;
	}

	nav{
		padding-top: 150px;
		word-spacing: 5px;
		letter-spacing: 3px;

		a{
			padding-left: 28px;
			display: block;
			color: #fff;
			transition-duration: 0.35s;

			&+a{
				margin-top: 60px;
			}

			svg{
				transition-duration: 0.25s;
				margin-top: -0.15em;
				vertical-align: middle;
				display: inline-block;
				transform: rotateZ(-90deg);
				width: 17px;
				height: 11px;
			}

			&:hover{
				padding-left: 88px;
				color: #e60012;
				background:#0c0407;
				svg .st0{
					stroke: #e60012;
				}
			}
		}

		&.social{
			width: 288px;
			height: 36px;
			background: rgba(12,4,7,0.65);
			position: absolute;
			bottom: 23px;
			left:0;
			padding:0;
			padding-left: 15px;

			a{
				display: inline-block;
				width: 36px;
				height: 100%;
				background: center center no-repeat; 
				margin:0;
				padding:0;
				margin: 0 4px;

				&:nth-child(1){
					background-image: url(../img/nav/twitter.svg);
					background-size: 18px 16px;
				}
				&:nth-child(2){
					background-image: url(../img/nav/facebook.svg);
					background-size: 9px 18px;
				}
				&:nth-child(3){
					background-image: url(../img/nav/youtube.svg);
					background-size: 18px 14px;
				}
				&:nth-child(5){
					background-image: url(../img/nav/mail.svg);
					background-size: 16px 13px;
				}
			}

			hr{
				display: inline-block;
				width: 1px;
				height: 18px;
				margin: 9px 18px;
				border-top: 0;
				background: #fff;
			}
		}
	}
}

body.overlay{
}
