header {
	height: 100%;
	width: 300px;
	position: fixed;
	left:0;
	top:0;
	margin:0;

	h1{
		padding-left:22px;
		margin-top: 35px;
		position: relative;
	}

	nav.menu{
		margin-top: 150px;
		word-spacing: 5px;
		letter-spacing: 3px;
		position: relative;

		a{
			padding-left: 28px;
			display: block;
			color: #fff;


			svg{
				transition-duration: 0.25s;
				margin-top: -0.15em;
				vertical-align: middle;
				display: inline-block;
				transform: rotateZ(-90deg);
				width: 17px;
				height: 11px;
			}

		}
		aside{
			&+aside{
				margin-top: 60px;
			}
			ul{
				margin:0;
				padding:0;
				overflow:hidden;
				height: auto;

				li{
					padding-left: 88px;
					transition-duration: 0.35s;
					a{
						padding:0;

						&:hover{
						}
					}
					@for $i from 1 to 5 {
						&:nth-child(#{$i}) {
							margin-top: #{$i*-34}px;
						}
					}
				}
			}
			>a{
				transition-duration: 0.5s;
				transition-delay: 0.1s;
			}
			&:hover, &.on{
				>a{
					padding-left: 88px;
					color: #e60012;
					background:#0c0407;
					transition-delay: 0s;
					svg{
						transform: rotateZ(0deg); 
						.st0{
							stroke: #e60012;
						}
					}
				}
				li{
					margin-top: 0!important;
					a:hover{
						color: #e60012;
					}
					@for $i from 1 to 5 {
						$delay : 0.1 + (0.02 * $i);
						&:nth-child(#{$i}) {
							transition-delay: #{$delay}s;
						}
					}
				}
			}
		}
	}

	nav.social{
		width: 288px;
		height: 36px;
		background: rgba(12,4,7,0.65);
		position: absolute;
		bottom: 23px;
		left:0;
		padding:0;
		padding-left: 15px;

		a{
			display: inline-block;
			width: 36px;
			height: 100%;
			background: center center no-repeat; 
			margin:0;
			padding:0;
			margin: 0 4px;

			&:nth-child(1){
				background-image: url(../img/nav/twitter.svg);
				background-size: 18px 16px;
			}
			&:nth-child(2){
				background-image: url(../img/nav/facebook.svg);
				background-size: 9px 18px;
			}
			&:nth-child(3){
				background-image: url(../img/nav/youtube.svg);
				background-size: 18px 14px;
			}
			&:nth-child(5){
				background-image: url(../img/nav/mail.svg);
				background-size: 16px 13px;
			}
		}

		hr{
			display: inline-block;
			width: 1px;
			height: 18px;
			margin: 9px 18px;
			border-top: 0;
			background: #fff;
		}
	}

	a.expand{
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;

	}


	@media screen and (max-width: 768px) {
		background: #1b1b1b;
		height: 88px;
		height: vwxs(88);
		overflow-y: hidden;
		width: 100%;

		&.on{
			height: auto;
			.bars{
				opacity: 0;
			}
			.burger .x{
				opacity: 1;
			}

		}


		h1{
			@include xsItem(262, 44, 26, 0, 24, 0);

			img{
				@include xsSubItem();
			}
		}

		nav.social{
			position: fixed;
			bottom:0;
			left:0;
			padding:0;
			width: 100%;
			height: vwxs(75);
			line-height: vwxs(75);
			a{
				width: percentage(115/640);
				height: 100%;

				&:nth-child(1){
					background-size: vwxs(35) vwxs(30);
				}
				&:nth-child(2){
					background-size: vwxs(18) vwxs(36);
				}
				&:nth-child(3){
					background-size: vwxs(33) vwxs(24);
				}
				&:nth-child(5){
					background-size: vwxs(30) vwxs(24);
				}
			}
			hr{
				margin-top: vwxs(20);
				margin-bottom: vwxs(20);
				height: vwxs(35);
				background: #b3b1b2;
			}
		}

		.burger{
			@include xsItem(40, 28, 28, 0, 0, 24);
			.x{
				opacity: 0;
			}
			img{
				@include xsSubItem();
			}
		}
		nav.menu{
			background: #1b1b1b;
			height: auto;
			margin-top: xsp(85);
			padding-bottom: 0.5em;
			>aside{
				@include xsItem(640, 60, 10, 10, 0, 24);
				position:relative;
				height: auto;
				a{
					@include xsSubItem();
					height: 2.5em;
					line-height: 2.5em;
					svg{
						display: none;
					}
				}
				a{
					padding-left: xsp(60);
				}
				>a{
					z-index: 1;
					background: #1b1b1b;
				}
				&:hover,&.on{
					>a{
						padding-left: xsp(60);
						background: #1b1b1b;
					}

					ul{
						margin-top: xsp(0);
						position:relative;
						height: auto;
						li{
							@include xsItem(640, 0, 10, 10, 0, 24);
							position:relative;
							height: 1.5em;
							line-height: 1.5em;
							a{
								padding-left: xsp(60);
								@include xsSubItem();
								height: 1.5em;
							}
						}
					}
				}
				&+aside{
					margin-top: xsp(10);
				}
			}
		}

		nav.about{
			background: #1b1b1b;
			position: relative;
			padding-bottom: xsp(40);
			top:0;
			left:0;
			a{
				padding-left: xsp(60);
				@include xsSubItem();
				display: block;
				position:relative;
				height: 1.8em;
				vertical-align: bottom;

				&+a{
					margin:0;
				}
			}
		}
	}

}

body.overlay{
}
